<!--
<% if current_user.profile.present? %>
<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="px-4 pt-0 pb-4 cover">
        <div class="media align-items-end profile-head">
          <div class="profile mr-3">
            <%  if current_user.profile.avatar.present? %>
              <%= image_tag current_user.profile.avatar,  class:"rounded mb-2 img-thumbnail", style: "width: 200px;" %>
            <% else %>
              <%= image_tag "user-img", class:"rounded mb-2 img-thumbnail" %>
            <% end %>
          </div>
          <div class="media-body mb-5 text-white">
            <h2 class="mt-0 mb-0"><%= current_user.profile.user.name %></h2>
            <p class="small mb-0"><%= current_user.profile.user.email %></p>
            <p class="small mb-0"><%= current_user.profile.gender %> &bull; <%= current_user.profile.marital_status%></p>
            <p class="small mb-0"><%= current_user.profile.phone_no %></p>
            <p class="small mb-2"><i class="fas fa-map-marker-alt mr-2"></i><%= current_user.profile.hometown %> , <%= current_user.profile.state%></p>
            <p class="small mb-4">
              <a href="<%= current_user.profile.facebook_link%>"><i class="fab fa-facebook mr-2 text-white"></i></a>
              <a href="<%= current_user.profile.twitter_link%>"><i class="fab fa-twitter mr-2 text-white"></i></a>
              <a href="<%= current_user.profile.linkedin_link%>"><i class="fab fa-linkedin mr-2 text-white"></i></a>
              <a href="<%= current_user.profile.github_link%>"><i class="fab fa-github mr-2 text-white"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="bg-light p-4 d-flex justify-content-end text-center">
        <div>
        
				</div>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">215</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Photos</small>
          </li>
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">745</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Followers</small>
          </li>
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small>
          </li>
        </ul>
      </div>
      <h3 class="ml-4"> User Information</h3>
      <div class="px-4 py-3">
        <h4 class="mb-0">About</h4>
        <div class="p-2 rounded shadow-sm bg-light">
          <p class=" mb-0"><%= current_user.profile.summary%></p>
        </div>
      </div>
      <div class="px-4 py-3">
        <div class="row">
          <div class="col-lg-6 ">
            <h4 class="mb-0">Key Skills</h4>
            <div class="p-2 rounded shadow-sm bg-light">
                <p class=" mb-0"><%= current_user.profile.key_skills%></p>
            </div>                                           
          </div>
          <div class="col-lg-6">
            <h4 class="mb-0">language known</h4>
            <div class="p-2 rounded shadow-sm bg-light">
                <p class="mb-0"><%= current_user.profile.language_known%></p>
            </div>  
          </div>
        </div> 
      </div>
      <div class="px-4 py-3">
        <div class="row">
          <div class="col-sm-3">
            <h4 class="mb-0">Desired Location</h4>
            <div class="p-2 rounded shadow-sm bg-light">
                <p class=" mb-0"><%= current_user.profile.desired_location %></p>
            </div>
          </div>
          <div class="col-sm-3">
            <h4 class="mb-0">Desired Employment</h4>
            <div class="p-2 rounded shadow-sm bg-light">
                <p class=" mb-0"><%= current_user.profile.desired_employment %></p>
            </div>
          </div>
          <div class="col-sm-3">
            <h4 class="mb-0">Desired Salary</h4>
            <div class="p-2 rounded shadow-sm bg-light">
                <p class=" mb-0"><%= current_user.profile.desired_salary %></p>
            </div>
          </div>
          <div class="col-sm-3">
            <h4 class="mb-0">Experience</h4>
            <div class="p-2 rounded shadow-sm bg-light">
                <p class="mb-0"><%= current_user.profile.experience%></p>
            </div>
          </div>
        </div>
      </div><hr>
      <h3 class="ml-4">Work Experience</h3>
      <%  current_user.profile&.work_experience.each do |work| %>
        <div class="px-4">
         #<%= cycle("1","2","3","4")%>
        </div>
        <div class="px-4 py-3">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="mb-0">company_name</h4>
              <div class="p-2 rounded shadow-sm bg-light">
                  <p class=" mb-0"><%= work.company_name%></p>
              </div>
            </div>
            <div class="col-sm-6">
              <h4 class="mb-0">Job Position</h4>
              <div class="p-2 rounded shadow-sm bg-light">
                  <p class=" mb-0"><%= work.job_position %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <h4 class="mb-0">Location</h4>
              <div class="p-2 rounded shadow-sm bg-light">
                <p class=" mb-0"><%= work.location %></p>
              </div>
            </div>
            <div class="col-sm-4">
              <h4 class="mb-0">From</h4>
              <div class="p-2 rounded shadow-sm bg-light">
                  <p class=" mb-0"><%= work.date_from %></p>
              </div>
            </div>
            <div class="col-sm-4">
              <h4 class="mb-0">To</h4>
              <div class="p-2 rounded shadow-sm bg-light">
                  <p class="mb-0"><%= work.date_to %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h4 class="mb-0">Description</h4>
              <div class="p-2 rounded shadow-sm bg-light">
                <p class=" mb-0"><%= work.description %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %><hr>
      <h3 class="ml-4"> Contact Information</h3>
      <div class="px-4 py-3">
        <h4 class="mb-0">Address</h4>
        <div class="p-2 rounded shadow-sm bg-light">
          <p class=" mb-0"><%= current_user.profile.permanent_address%></p>
        </div>
      </div>
      <div class="px-4 py-3">
        <div class="row">
          <div class="col-lg-6">
            <h4 class="mb-0">Phone No</h4>
            <div class="p-2 rounded shadow-sm bg-light">
              <p class=" mb-0"><%= current_user.profile.phone_no%></p>
            </div>
          </div>
          <div class="col-lg-6">
            <h4 class="mb-0">Email Address</h4>
            <div class="p-2 rounded shadow-sm bg-light">
              <p class=" mb-0"><%= current_user.profile.user.email%></p>
            </div>
          </div>
        </div>
      </div>
      <div class="px-4 py-3">
        <div class="row">
          <div class="col-lg-4">
            <h4 class="mb-0">Hometown</h4>
            <div class="p-2 rounded shadow-sm bg-light">
                <p class=" mb-0"><%= current_user.profile.hometown%></p>
            </div>                                      
          </div>
          <div class="col-lg-4">
            <h4 class="mb-0">State</h4>
            <div class="p-2 rounded shadow-sm bg-light">
                <p class=" mb-0"><%= current_user.profile.state%></p>
            </div>                                      
          </div>
          <div class="col-lg-4">
            <h4 class="mb-0">pincode</h4>
            <div class="p-2 rounded shadow-sm bg-light">
                <p class=" mb-0"><%= current_user.profile.pincode%></p>
            </div>
          </div>
        </div>
      </div>
            <%# <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Recent photos</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-2 pr-lg-1"><img src="https://images.unsplash.com/photo-1469594292607-7bd90f8d3ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-6 mb-2 pl-lg-1"><img src="https://images.unsplash.com/photo-1493571716545-b559a19edd14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-6 pr-lg-1 mb-2"><img src="https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-6 pl-lg-1"><img src="https://images.unsplash.com/photo-1475724017904-b712052c192a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                </div>
            </div> %>
    </div>
  </div>

     
        <% else %>
          Create your profile so that other can see you profile
          <%= link_to "Profile", new_profile_path, class: "btn btn-primary"%>
          <%= link_to 'Edit Account', edit_user_registration_path, class: "btn btn-default" %>
        <% end %>  

-->