<%= simple_form_for(job) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card mb-5 border border-dark bg-secondary shadow">
    <div class= "card-body m-4">
        <%= form.input :title%>
        <%= form.input :link_to_apply, as: :url%>
        <%= form.input :description,as: :rich_text_area  %>
        <div class="row">
          <div class="col-sm-3">
            <%= form.label :compensation_type %>
            <%= form.select :compensation_type, options_for_select(Job::COMPENSATION_TYPE),  { :include_blank=>false },class: "form-control" %>
          </div>
          <div class="col-sm-3">
            <%= form.label :compensation_range %>
            <%= form.select :compensation_range, options_for_select(Job::COMPENSATION_RANGE), { :include_blank=>false }, { :class => 'form-control' } %>
          </div>
          <div class="col-sm-2">
            <%= form.label :estimated_hours%>
            <%= form.select :estimated_hours, options_for_select(Job::HOURLY_RANGE),  { :include_blank=>false },{:class => 'form-control' } %>
          </div>
          <div class="col-sm-3">
            <%= form.label :years_of_experience %>
            <%= form.select :years_of_experience, options_for_select(Job::YEARS_OF_EXPERIENCE_RANGE), { :include_blank=>false }, class: "form-control"%>
          </div>
          <div class="col-sm-1">
            <%# <div class="custom-control custom-checkbox"> %>
              <%= form.check_box :remote, class:"custom-control-input",id:"materialChecked" %>
              <%= form.label "Remote" ,class:"custom-control-label", for:"materialChecked"%>
            <%# </div> %>
          </div>
        </div>
        
        <div class="row">
        <div class="col-sm-8">
          <%= form.input :company_name %>
          <%= form.label :company_logo%>
          <%= form.file_field :company_logo , class: "form-control-file" %>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">
              <% if form.object.company_logo.attached?%>
              <%= image_tag form.object.company_logo.variant(resize_to_fit: [200, 200]), class: "img-fluid rounded img-thumbnail" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <%= form.input :headquarters %>
        </div>
        <div class="col-sm-6">
          <%= form.input :company_website %>
        </div>
      </div>
      <%= form.input:company_description ,as: :rich_text_area%>

          <label class="continue">
            <%= form.submit "Save", class: "btn btn-success btn-lg"%>
          </label>
        </div>
      </div>
    </div>
  </div>
<% end %>
