<%= simple_form_for(job) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <%= form.input :title%>
      <%= form.input :link_to_apply%>
      <%= form.input :description,as: :rich_text_area %>
      <%= form.input :company_name %>
      <div class="row">
        <div class="col-sm-6">
          <%= form.input :headquarters %>
        </div>
        <div class="col-sm-6">
          <%= form.input :company_website %>
        </div>
      </div>
      <%= form.input:company_description ,as: :rich_text_area%>
      <div class="row">
        <div class="col-sm-4">
          <%= form.label :compensation_type %>
          <%= form.select :compensation_type, options_for_select(Job::COMPENSATION_TYPE),  { :include_blank=>false },class: "form-control" %>
        </div>
        <div class="col-sm-4">
          <%= form.label :compensation_range %>
          <%= form.select :compensation_range, options_for_select(Job::COMPENSATION_RANGE), { :include_blank=>false }, { :class => 'form-control' } %>
        </div>
        <div class="col-sm-4">
          <%= form.label :estimated_hours%>
          <%= form.select :estimated_hours, options_for_select(Job::HOURLY_RANGE),  { :include_blank=>false },{:class => 'form-control' } %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-6">
          <%= form.label :years_of_experience %>
          <%= form.select :years_of_experience, options_for_select(Job::YEARS_OF_EXPERIENCE_RANGE), { :include_blank=>false }, class: "form-control"%>
        </div>
        <div class="col-sm-6">
          <div class="custom-control custom-checkbox">
            <%= form.check_box :remote, class:"custom-control-input",id:"materialChecked" %>
            <%= form.label :remote ,class:"custom-control-label", for:"materialChecked"%>
          </div>
        </div>
      </div>
      <div class="actions">
        <%= form.submit "Save", class: "btn btn-success btn-lg mt-4"%>
      </div>
    </div>
  </div>
<% end %>