<div class="d-flex justify-content-between m-4">
    <h3>Your Job listing</h3>
    <%= link_to 'New Job', new_job_path, class: "btn btn-primary" %>    
</div>
<div class="row" , style="justify-content: center">
  <% @jobs.each do |job| %>
    <div class="card job-index col-md-3 mt-5 ">
      <%= link_to job , class: "text-decoration-none" do %>
        <div class="card-content">
          <div class="card-body p-0">
            <div class="profile d-flex justify-content-between">
              <div>
                <% if job.company_logo.attached?%>
                  <%= image_tag job.company_logo %>
                <% else %>
                  <%= image_tag "company-img" %>
                <% end %>
              </div>
              <div>
                <span class="badge badge-<%= job.badge_color%>"><%= job.status%></span>
              </div>
            </div>
            
            <div class="card-title mt-3"><%= job.title %><br /> <small><%= job.company_name %></small> </div>
              <div class="card-subtitle">
                <p> <small class="text-muted">
                  <%= truncate(strip_tags(job.description.to_s), length: 50)%><br>
                  <%= job.compensation_type %> <br>
                  <%= job.compensation_range %><br>
                  <%= job.years_of_experience %> years of experience<br>
                  </small> 
                </p>
              </div>
                <%= link_to 'Edit', edit_job_path(job) , class: "btn btn-info btn-sm"%>        
                <% if job.published? %>
                  <%= link_to 'Unpublish', unpublish_path(job), method: :put , class: "btn btn-warning btn-sm"%>        
                <% else %>
                  <%= link_to 'publish', publish_path(job), method: :put , class: "btn btn-success btn-sm"%>        
                <% end %>
                <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
                <small class="text-muted">Published at: <%= time_ago_in_words(job.published_at) if job.published? %> ago</small>
            </div>
          </div>
      <% end %>
    </div>
  <% end %>
</div>