
<div class="mt-5">
  <div class="d-flex justify-content-between mb-3">
    <%= link_to 'Back to all jobs', root_path, class: "btn btn-link" %>
    <% if author_of(@job) || admin?%>
    <%= link_to 'Edit', edit_job_path(@job), class: "btn btn-warning" %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h2 class="text-center"> <%= @job.title %></h2><hr>
      <div class="row">
        <div class="col-4">
          <h5>ABOUT THE ROLE</h5>
        </div>
        <div class="col-8">
          <%= @job.description %>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <h5>COMPENSATION TYPE</h5>
        </div>
        <div class="col-8">
          <p><%= @job.compensation_type %> 
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <h5>COMPENSATION RANGE</h5>
        </div>
        <div class="col-8">
          <%= number_to_currency(@job.compensation_range) %>
        </div>
      </div>
     
      <div class="row">
        <div class="col-4">
          <h5>EXPERIENCE</h5>
        </div>
        <div class="col-8">
          <%= pluralize(@job.years_of_experience, "year") %> of experience
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <h5>HOURLY RANGE</h5>
        </div>
        <div class="col-8">
          <%= @job.estimated_hours %>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <h5>REMOTE</h5>
        </div>
        <div class="col-8">
          <%= @job.remote %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card job-index mt-5">
        <div class="card-content">
          <div class="card-body p-0">
            <div class="profile">
              <% if @job.company_logo.attached?%>
                <%= image_tag @job.company_logo %>
              <% else %>
                <%= image_tag "company-img" %>
              <% end %>
            </div>
            <div class="card-title mt-4"><%= link_to  @job.company_name, @job.company_website %></div>
              <div class="card-subtitle p-3">
                <p> <small class="text-muted">
                  <%= @job.headquarters %><br>
                  <%= @job.company_description %><br>
                   <%= link_to "Apply for this role", @job.link_to_apply, class: "btn btn-primary"%>
                  </small> 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
