
<div class="mt-5">
  <div class="d-flex justify-content-between mb-3">
    <%= link_to 'Back', root_path, class: "btn btn-link" %>
    <% if author_of(@job)%>
    <%= link_to 'Edit', edit_job_path(@job), class: "btn btn-warning" %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h2> <%= @job.title %></h2>
      <%= @job.description %>
      
      
      <%= @job.role_type %>
      <%= @job.compensation_range %>
      <%= @job.remote %>
      <%= @job.years_of_experience %>
    </div>
    <div class="col-md-4">
      <div class="card">
      <div class="box m-3">
       <% if @job.company_logo.attached?%>
                <%= image_tag @job.company_logo, class: "rounded-circle" %>
              <% else %>
                <%= image_tag "company-img" %>
              <% end %>
        <h3 class="name"><%= @job.company_name %></h3>
        <p class="title"><%= @job.company_website %></p>
        <p class="description"><%= @job.company_description %></p>
        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        <%= link_to "Apply for this job", @job.link_to_apply, class: "btn btn-primary"%>
    </div>
    </div>
  </div>
</div>
